/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Navigation / .nav-panel
3. Gallery / .wrap-main-gallery
4. About / .about-page
5. Blog / .blog-page
6. Content / .content
7. Portfolio / .portfolio-page
8. Sidebar / .sidebar
9. Contacts / .contact-page
10. Shop / .shop-page
11. Footer / footer
-------------------------------------------------------------------*/
/* Gradients
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Bordered
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Rounded
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Opacity
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Transition
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Shawows
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Fonts
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Spacing
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Other
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Grid System 12 Columns
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-1 {
    width: 8.333333333333332%;
}

.col-2 {
    width: 16.666666666666664%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333333333336%;
}

.col-8 {
    width: 66.66666666666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333334%;
}

.col-11 {
    width: 91.66666666666666%;
}

.col-12 {
    width: 100%;
}

/* Reset Styles
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

footer,
header {
    display: block;
}

html {
    overflow-y: scroll;
    /* 1 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
    -ms-text-size-adjust: 100%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
li,
ol,
a,
em,
img,
strong,
fieldset,
form,
label,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}

:focus {
    outline: 0;
}

img {
    vertical-align: middle;
    outline: 0;
}

html,
body,
textarea,
input {
    -webkit-text-size-adjust: none;
}

body {
    text-align: left;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
}

/* Float & Align
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* Clearfix
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.clear {
    clear: both;
}

/* Links
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 100ms linear;
    -moz-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    -o-transition: color 100ms linear;
    transition: color 100ms linear;
}

/* Typography
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

p {
    margin: 0 0 1em 0;
    text-align: left;
    line-height: 1.5;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    border: 0;
}

small {
    font-size: 10px;
}

/* End Mixi */
html,
body {
    height: 100%;
}

body {
    font-size: 13px;
    font-family: "Century Gothic", Futura, sans-serif;
    color: #717174;
    line-height: 1;
    background: #dbe9ea;
    letter-spacing: 0.01em;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.main-container {
    margin-left: 288px;
}

.wrapper {
    max-width: 1081px;
    margin: 0 auto;
}

.main-container_width {
    max-width: 1081px;
    padding: 72px 2.1%;
    background: #ffffff;
    overflow: hidden;
}

.main-container-single {
    max-width: 1081px;
    background: #ffffff;
}

.row {
    padding: 0;
}

/* end main container / row*/
.page-title {
    font-size: 37px;
    line-height: 27px;
    font-family: 'Droid Serif';
    color: #000000;
    margin-bottom: 55px;
}

/* GALLERY IMAGES */
.gallery-images {
    display: block;
    font-size: 0;
}

.gallery-images li {
    display: inline-block;
    margin: 0 30px 20px 0;
    position: relative;
    overflow: hidden;
}

/* end titles */


@media (max-width: 1680px) {

}

@media (max-width: 1370px) {

}

@media (max-width: 1300px) {

}

@media (max-width: 1024px) {

    .main-container {
        margin: 0;
    }

}

@media (max-width: 768px) {

}

@media (max-width: 640px) {

}

@media (max-width: 480px) {
    .col {
        width: 100%;
        display: block;
    }

}

@media (max-width: 380px) {
    .blog-post {
        font-size: 16px;
        padding: 10px;
        position: relative;
        margin-bottom: 20px;
    }

    .page-title {
        margin-bottom: 26px;
    }
}
